<mat-card>
    <b><span>Manage Catagory</span></b>
    <button mat-flat-button color="primary" class="float-right" (click)="handleAddAction()">Add Catagory</button>
</mat-card>
<hr>
<mat-card>
    <mat-form-field appearance="fill">
<mat-label>Filter</mat-label>
<input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
</mat-card>

<div class="responsev_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef >Name</th>

            <th mat-cell *matCellDef="let element">{{element.name}}</th>
        </ng-container>



        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef >edit</th>

            <th mat-cell *matCellDef="let element" class="action-link">
                <button mat-icon-button color="primary" matTooltip="edit" (click)="handleEditAction(element)"><mat-icon>edit</mat-icon></button>
            </th>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayCoulmns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:displayCoulmns"></tr>
    </table>
</div>
