<mat-toolbar>
  <mat-toolbar-row fxLayout="row">
    <span>{{ dialogData.action }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typograpy">
  <form [formGroup]="productForm">
    <div fxFlex fxLayout="coulmn">
      <div fxLayout="row wrap">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text" required />
          <mat-error
            *ngIf="
              productForm.controls.name.touched &&
              productForm.controls.name.invalid
            "
          >
            <span *ngIf="productForm.controls.name.errors.required"
              >this field is mandatory</span
            >
            <span *ngIf="productForm.controls.name.errors.pattern"
              >this field is invalid</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Price</mat-label>
          <input matInput type="number" formControlName="price" required />
          <mat-error
            *ngIf="
              productForm.controls.price.touched &&
              productForm.controls.price.invalid
            "
          >
            <span *ngIf="productForm.controls.price.errors.required"
              >this field is mandatory</span
            >
            <span *ngIf="productForm.controls.price.errors.pattern"
              >this field is invalid</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label> Category </mat-label>
          <mat-select formControlName="categoryName">
            <mat-option
              *ngFor="let catagory of categories"

              [value]="catagory.id"
              >{{ catagory.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Description</mat-label>
          <input matInput type="text" formControlName="description" required />
          <mat-error
            *ngIf="
              productForm.controls.description.touched &&
              productForm.controls.description.invalid
            "
          >
            <span *ngIf="productForm.controls.description.errors.required"
              >this field is mandatory</span
            >
            <span *ngIf="productForm.controls.description.errors.pattern"
              >this field is invalid</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
  [disabled]="!(productForm.valid && productForm.dirty)">
{{action}}
  </button>
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
