<body>
  <mat-card>
    <b><span>Dashboard</span></b>
  </mat-card>
  <br />
  <div class="row">
    <div class="coulmn">
      <div class="card">
        <div class="container">
          <h2 class="title">Total catagory</h2>
          <h1 class="title">{{ data?.catagory }}</h1>
          <p>
            <button class="button" [routerLink]="['/cafe/category']">
              View Category
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="coulmn">
        <div class="card">
          <div class="container">
            <h2 class="title">Total product</h2>
            <h1 class="title">{{ data?.product }}</h1>
            <p>
              <button class="button" [routerLink]="['/cafe/product']">
                View products
              </button>
            </p>
          </div>
        </div>
      </div>
      <div class="coulmn">
        <div class="card">
          <div class="container">
            <h2 class="title">Total Bill</h2>
            <h1 class="title">{{ data?.bill }}</h1>
            <p>
              <button class="button" [routerLink]="['/cafe/bill']">
                View Bill
              </button>
            </p>
          </div>
        </div>
      </div>
  </div>
</body>
