<mat-toolbar>
  <mat-toolbar-row fxLayout="row">
    <span >forgot Password?</span>
  </mat-toolbar-row>
  </mat-toolbar>

  <mat-dialog-content >
  <form [formGroup]="forgotPasswordForm">
    <div fxFlex fxLayout="coulmn"><mat-form-field appearance="fill" fxFlex>
      <mat-label>Email</mat-label>
  <input matInput formControlName="email" required >
  <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid ">
    <span  *ngIf="forgotPasswordForm.controls.email.errors.required">this field is mandatory</span>
    <span  *ngIf="forgotPasswordForm.controls.email.errors.pattern">this field is invalid</span>
  </mat-error>
    </mat-form-field></div>
  </form>
  </mat-dialog-content>
  <mat-dialog-actions >
  <button mat-raised-button  color="primary" (click)="handleSubmit()">Send Password</button>
  <button mat-raised-button  color="primary" mat-dialog-close>Close</button>
  </mat-dialog-actions>

